# Default owners for the repository
* @tobiemh

./app/ @tobiemh
./tests/ @surrealdb/api
./img/ @tobiemh
./.cargo/ @surrealdb/api

# Configuration for GitHub
/.github/ @tobiemh @sgirones

./lib/tests/ @surrealdb/API

./lib/examples @surrealdb/API

./lib/benches @surrealdb/API

# Code for fuzzing configuration
./lib/fuzz @surrealdb/Monitoring

# All lib/src paths go here
./lib/src/vs @surrealdb/CDC
./lib/src/idx @surrealdb/Indexing
./lib/src/kvs @surrealdb/API
./lib/src/dbs @surrealdb/API
./lib/src/err @surrealdb/API
./lib/src/cf @surrealdb/CDC
./lib/src/key @surrealdb/API
./lib/src/env @rushmorem
./lib/src/cnf @surrealdb/API
./lib/src/mac @rushmorem
./lib/src/iam @surrealdb/Monitoring
./lib/src/idg @surrealdb/API
./lib/src/api @surrealdb/API
./lib/src/doc @surrealdb/API
./lib/src/fnc @surrealdb/SQL
./lib/src/ctx @surrealdb/API
./lib/src/exe @usrrealdb/API
./lib/src/sql @surrealdb/API
./lib/src/* @surrealdb/API

./dev @surrealdb/Monitoring
./doc @surrealdb/API
./pkg @sgirones @rushmorem

# ./src/* paths
./src/net @surrealdb/API
./src/dbs @surrealdb/CLI
./src/err @surrealdb/CLI
./src/cli @surrealdb/CLI
./src/env @sureraldb/CLI
./src/cnf @surrealdb/CLI
./src/mac @surrealdb/CLI
./src/telemetry @surrealdb/Monitoring
./src/node @surrealdb/CLI
./src/rpc @surrealdb/API
./src/* @surrealdb/CLI
