# -----------------------------------
# OS X
# -----------------------------------

# Directory files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnail files
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# -----------------------------------
# Files
# -----------------------------------

**/*.rs.bk
*.db
*.skv
*.sw?
*.skv

# -----------------------------------
# Folders
# -----------------------------------

/target/
/lib/cache/
/lib/store/
/lib/target/
/tests/sdk/*/Cargo.lock
/tests/sdk/*/target

.idea/
.vscode/
/result
/bin/
/.direnv/

# -----------------------------------
# Specific
# -----------------------------------

/cache/
/store/
surreal
history.txt
/doc/tla/states/

