[package]
name = "surreal"
publish = false
edition = "2021"
version = "1.0.0-beta.7"
authors = ["Tobie Morgan Hitchcock <tobie@surrealdb.com>"]

[features]
default = ["storage-rocksdb", "scripting", "http"]
storage-rocksdb = ["surrealdb/kv-rocksdb"]
storage-tikv = ["surrealdb/kv-tikv"]
storage-fdb = ["surrealdb/kv-fdb-6_3"]
scripting = ["surrealdb/scripting"]
http = ["surrealdb/http"]

[workspace]
members = ["lib"]

[profile.release]
lto = true
strip = true
opt-level = 3
panic = 'abort'
codegen-units = 1

[dependencies]
argon2 = "0.4.1"
base64 = "0.13.0"
bytes = "1.2.1"
chrono = { version = "0.4.22", features = ["serde"] }
clap = { version = "3.2.22", features = ["env"] }
fern = { version = "0.6.1", features = ["colored"] }
futures = "0.3.24"
http = "0.2.8"
hyper = "0.14.20"
jsonwebtoken = "8.1.1"
log = "0.4.17"
once_cell = "1.15.0"
rand = "0.8.5"
reqwest = { version = "0.11.12", features = ["blocking"] }
rustyline = "10.0.0"
serde = { version = "1.0.145", features = ["derive"] }
serde_cbor = "0.11.2"
serde_json = "1.0.85"
serde_pack = { version = "1.1.0", package = "rmp-serde" }
surrealdb = { path = "lib", default-features = false, features = ["kv-mem", "parallel"] }
thiserror = "1.0.36"
tokio = { version = "1.21.1", features = ["macros", "signal"] }
warp = { version = "0.3.2", features = ["compression", "tls", "websocket"] }

[package.metadata.deb]
maintainer-scripts = "pkg/deb/"
maintainer = "Tobie Morgan Hitchcock <tobie@surrealdb.com>"
copyright = "SurrealDB Ltd. 2022"
systemd-units = { enable = true }
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
    ["target/release/surreal", "usr/share/surrealdb/surreal", "755"],
    ["pkg/deb/README", "usr/share/surrealdb/README", "644"],
]
extended-description = "A scalable, distributed, collaborative, document-graph database, for the realtime web."
license-file = ["LICENSE", "4"]
