[package]
name = "surreal"
publish = false
edition = "2021"
version = "1.0.0-beta.9"
license-file = "LICENSE"
authors = ["Tobie Morgan Hitchcock <tobie@surrealdb.com>"]

[features]
default = ["storage-mem", "storage-rocksdb", "scripting", "http"]
storage-mem = ["surrealdb/kv-mem"]
storage-rocksdb = ["surrealdb/kv-rocksdb"]
storage-tikv = ["surrealdb/kv-tikv"]
storage-fdb = ["surrealdb/kv-fdb-6_3"]
scripting = ["surrealdb/scripting"]
http = ["surrealdb/http"]

[workspace]
members = ["lib", "lib/examples/actix", "lib/examples/axum"]

[profile.release]
lto = true
strip = true
opt-level = 3
panic = 'abort'
codegen-units = 1

[dependencies]
argon2 = "0.5.0"
base64 = "0.21.0"
bung = "0.1.0"
bytes = "1.4.0"
chrono = { version = "0.4.24", features = ["serde"] }
clap = { version = "3.2.23", features = ["env"] }
fern = { version = "0.6.2", features = ["colored"] }
futures = "0.3.28"
http = "0.2.9"
hyper = "0.14.26"
jsonwebtoken = "8.3.0"
log = "0.4.17"
once_cell = "1.17.1"
opentelemetry = { version = "0.18", features = ["rt-tokio"] }
opentelemetry-otlp = "0.11.0"
rand = "0.8.5"
reqwest = { version = "0.11.16", features = ["blocking"] }
rustyline = "11.0.0"
serde = { version = "1.0.160", features = ["derive"] }
serde_cbor = "0.11.2"
serde_pack = { version = "1.1.1", package = "rmp-serde" }
serde_json = "1.0.96"
surrealdb = { path = "lib", features = ["protocol-http", "protocol-ws", "rustls"] }
thiserror = "1.0.40"
tokio = { version = "1.27.0", features = ["macros", "signal"] }
tracing = "0.1"
tracing-futures = "0.2.5"
tracing-opentelemetry = "0.18.0"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
urlencoding = "2.1.2"
warp = { version = "0.3.4", features = ["compression", "tls", "websocket"] }

[dev-dependencies]
tonic = "0.8.3"
opentelemetry-proto = {version = "0.1.0", features = ["gen-tonic", "traces", "build-server"] }
tokio-stream = { version = "0.1", features = ["net"] }
temp-env = "0.3.3"

[package.metadata.deb]
maintainer-scripts = "pkg/deb/"
maintainer = "Tobie Morgan Hitchcock <tobie@surrealdb.com>"
copyright = "SurrealDB Ltd. 2022"
systemd-units = { enable = true }
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
    ["target/release/surreal", "usr/share/surrealdb/surreal", "755"],
    ["pkg/deb/README", "usr/share/surrealdb/README", "644"],
]
extended-description = "A scalable, distributed, collaborative, document-graph database, for the realtime web."
license-file = ["LICENSE", "4"]
