[env]
RUSTFLAGS = { value = "--cfg tokio_unstable", condition = { env_not_set = [
    "RUSTFLAGS",
] } }
BENCH_WORKER_THREADS = { value = "1", condition = { env_not_set = [
    "BENCH_WORKER_THREADS",
] } }
BENCH_NUM_OPS = { value = "1000", condition = { env_not_set = [
    "BENCH_NUM_OPS",
] } }
BENCH_DURATION = { value = "30", condition = { env_not_set = [
    "BENCH_DURATION",
] } }
BENCH_SAMPLE_SIZE = { value = "10", condition = { env_not_set = [
    "BENCH_SAMPLE_SIZE",
] } }
BENCH_FEATURES = { value = "protocol-ws,kv-mem,kv-rocksdb,kv-surrealkv", condition = { env_not_set = [
    "BENCH_FEATURES",
] } }
# Used to speed up the scripting timeout test, otherwise the test takes 5 seconds.
SURREAL_SCRIPTING_MAX_TIME_LIMIT = { value = "500", condition = { env_not_set = [
    "SURREAL_SCRIPTING_MAX_TIME_LIMIT",
] } }

[tasks.ci-format]
category = "CI - CHECK"
toolchain = "${SURREAL_NIGHTLY_RUST_TOOLCHAIN}"
command = "cargo"
args = ["fmt", "--all", "--check"]

[tasks.ci-check]
category = "CI - CHECK"
command = "cargo"
args = [
    "check",
    "--locked",
    "--workspace",
    "--all-targets",
    "--features",
    "${ALL_FEATURES}",
]

[tasks.ci-check-release]
category = "CI - CHECK"
command = "cargo"
args = [
    "check",
    "--release",
    "--locked",
    "--workspace",
    "--all-targets",
    "--features",
    "${ALL_FEATURES}",
]

[tasks.ci-clippy]
category = "CI - CHECK"
command = "cargo"
args = [
    "clippy",
    "--workspace",
    "--all-targets",
    "--features",
    "${ALL_FEATURES}",
    "--tests",
    "--benches",
    "--bins",
    "--",
    "-D",
    "warnings",
]

[tasks.ci-clippy-release]
category = "CI - CHECK"
command = "cargo"
args = [
    "clippy",
    "--workspace",
    "--all-targets",
    "--release",
    "--features",
    "${ALL_FEATURES}",
    "--tests",
    "--benches",
    "--bins",
    "--",
    "-D",
    "warnings",
]

[tasks.ci-check-wasm]
# Note: On Mac, Apple ships its own version of LLVM which does not cross-compile to WASM.
# To build this on a Mac, you need to install the upstream LLVM Clang.
# Steps:
# 1. Install LLVM from Homebrew: `brew install llvm`
# 2. Add the LLVM bin directory to your PATH: `echo 'export PATH="/opt/homebrew/opt/llvm/bin:$PATH"' >> ~/.zshrc`
category = "CI - CHECK"
command = "cargo"
env = { RUSTFLAGS = '--cfg getrandom_backend="wasm_js"' }
args = [
    "check",
    "--locked",
    "--package",
    "surrealdb",
    "--features",
    "protocol-ws,protocol-http,kv-mem,kv-indxdb,http,jwks",
    "--target",
    "wasm32-unknown-unknown",
]

#
# Integration Tests
#

[tasks.ci-cli-integration]
category = "CI - INTEGRATION TESTS"
command = "cargo"
env = { RUST_BACKTRACE = 1, RUST_LOG = { value = "cli_integration=debug", condition = { env_not_set = [
    "RUST_LOG",
] } } }
args = [
    "test",
    "--locked",
    "--no-default-features",
    "--features",
    "storage-mem,storage-surrealkv,http,scripting,jwks",
    "--workspace",
    "--test",
    "cli_integration",
    "--",
    "cli_integration",
]

[tasks.ci-http-integration]
category = "CI - INTEGRATION TESTS"
command = "cargo"
env = { RUST_BACKTRACE = 1, RUST_LOG = { value = "http_integration=debug", condition = { env_not_set = [
    "RUST_LOG",
] } } }
args = [
    "test",
    "--locked",
    "--no-default-features",
    "--features",
    "storage-mem,http-compression,jwks",
    "--workspace",
    "--test",
    "http_integration",
    "--",
    "http_integration",
]

[tasks.ci-ws-integration]
category = "WS - INTEGRATION TESTS"
command = "cargo"
env = { RUST_BACKTRACE = 1, RUST_LOG = { value = "ws_integration=debug", condition = { env_not_set = [
    "RUST_LOG",
] } } }
args = [
    "test",
    "--locked",
    "--no-default-features",
    "--features",
    "storage-mem",
    "--workspace",
    "--test",
    "ws_integration",
    "--",
    "ws_integration",
]

[tasks.ci-ml-integration]
category = "ML - INTEGRATION TESTS"
command = "cargo"
env = { RUST_BACKTRACE = 1, RUST_LOG = { value = "cli_integration::common=debug", condition = { env_not_set = [
    "RUST_LOG",
] } } }
args = [
    "test",
    "--locked",
    "--features",
    "storage-mem,ml",
    "--workspace",
    "--test",
    "ml_integration",
    "--",
    "ml_integration",
    "--nocapture",
]

[tasks.ci-graphql-integration]
category = "GRAPHQL - INTEGRATION TESTS"
command = "cargo"
env = { RUST_BACKTRACE = 1, RUST_LOG = { value = "cli_integration::common=debug", condition = { env_not_set = [
    "RUST_LOG",
] } }, SURREAL_CAPS_ALLOW_EXPERIMENTAL = "graphql" }
args = [
    "test",
    "--locked",
    "--features",
    "storage-mem",
    "--workspace",
    "--test",
    "graphql_integration",
    "--",
    "graphql_integration",
    "--nocapture",
]

[tasks.ci-test-workspace]
category = "CI - INTEGRATION TESTS"
command = "cargo"
args = [
    "test",
    "--locked",
    "--no-default-features",
    "--features",
    "allocator,allocation-tracking,storage-mem,scripting,http,jwks",
    "--workspace",
    "--no-fail-fast",
    "--package", "surrealdb",
    "--",
    "--skip",
    "api_integration",
    "--skip",
    "cli_integration",
    "--skip",
    "http_integration",
    "--skip",
    "ws_integration",
    "--skip",
    "ml_integration",
    "--skip",
    "graphql_integration",
    "--skip",
    "database_upgrade",
]

[tasks.ci-workspace-coverage]
category = "CI - INTEGRATION TESTS"
command = "cargo"
args = [
    "llvm-cov",
    "--html",
    "--locked",
    "--no-default-features",
    "--features",
    "storage-mem,scripting,http,jwks",
    "--workspace",
    "--",
    "--skip",
    "api_integration",
    "--skip",
    "cli_integration",
    "--skip",
    "http_integration",
    "--skip",
    "ws_integration",
    "--skip",
    "ml_integration",
    "--skip",
    "graphql_integration",
    "--skip",
    "database_upgrade",
]

[tasks.test-workspace-coverage-complete]
category = "CI - INTEGRATION TESTS"
command = "cargo"
args = [
    "llvm-cov",
    "--html",
    "--locked",
    "--no-default-features",
    "--features",
    "protocol-ws,protocol-http,kv-mem,kv-rocksdb",
    "--workspace",
]

[tasks.ci-workspace-coverage-complete]
env = { _START_SURREALDB_PATH = "memory" }
category = "CI - INTEGRATION TESTS"
run_task = { name = [
    "start-surrealdb",
    "test-workspace-coverage-complete",
    "stop-surrealdb",
], fork = true }

#
# Tests private tasks
#

[tasks.test-kvs]
private = true
command = "cargo"
env = { RUST_BACKTRACE = 1 }
args = [
    "test",
    "--locked",
    "--package",
    "surrealdb-core",
    "--no-default-features",
    "--features",
    "${_TEST_FEATURES}",
    "--lib",
    "kvs::tests",
]

[tasks.test-api-integration]
private = true
command = "cargo"
env = { RUST_BACKTRACE = 1 }
args = [
    "test",
    "--locked",
    "--package",
    "surrealdb",
    "--no-default-features",
    "--features",
    "${_TEST_FEATURES}",
    "--test",
    "api",
    "api_integration::${_TEST_API_ENGINE}",
]

[tasks.ci-api-integration]
private = true
env = { RUST_BACKTRACE = 1, _START_SURREALDB_PATH = "memory" }
run_task = { name = [
    "start-surrealdb",
    "test-api-integration",
    "stop-surrealdb",
], fork = true }

#
# Integration tests with background services
#

[tasks.ci-api-integration-http]
category = "CI - INTEGRATION TESTS"
env = { _TEST_API_ENGINE = "http", _TEST_FEATURES = "protocol-http" }
run_task = "ci-api-integration"

[tasks.ci-api-integration-ws]
category = "CI - INTEGRATION TESTS"
env = { _TEST_API_ENGINE = "ws", _TEST_FEATURES = "protocol-ws" }
run_task = "ci-api-integration"

[tasks.ci-api-integration-any]
category = "CI - INTEGRATION TESTS"
env = { _TEST_API_ENGINE = "any", _TEST_FEATURES = "protocol-http" }
run_task = "ci-api-integration"

#
# Integration tests without background services
#
[tasks.ci-api-integration-mem]
category = "CI - INTEGRATION TESTS"
env = { _TEST_API_ENGINE = "mem", _TEST_FEATURES = "kv-mem" }
run_task = { name = [
    "test-kvs",
    "test-api-integration",
], fork = true, parallel = true }

[tasks.ci-api-integration-file]
category = "CI - INTEGRATION TESTS"
env = { _TEST_API_ENGINE = "file", _TEST_FEATURES = "kv-rocksdb" }
run_task = { name = [
    "test-kvs",
    "test-api-integration",
], fork = true, parallel = true }

[tasks.ci-api-integration-rocksdb]
category = "CI - INTEGRATION TESTS"
env = { _TEST_API_ENGINE = "rocksdb", _TEST_FEATURES = "kv-rocksdb" }
run_task = { name = [
    "test-kvs",
    "test-api-integration",
], fork = true, parallel = true }

[tasks.ci-api-integration-surrealkv]
category = "CI - INTEGRATION TESTS"
env = { _TEST_API_ENGINE = "surrealkv", _TEST_FEATURES = "kv-surrealkv" }
run_task = { name = [
    "test-kvs",
    "test-api-integration",
], fork = true, parallel = false }

[tasks.ci-api-integration-tikv]
category = "CI - INTEGRATION TESTS"
env = { _TEST_API_ENGINE = "tikv", _TEST_FEATURES = "kv-tikv" }
run_task = { name = [
    "start-tikv",
    "test-kvs",
    "stop-tikv",
    "start-tikv",
    "test-api-integration",
    "stop-tikv",
], fork = true, parallel = false }

[tasks.ci-api-integration-fdb-7_1]
category = "CI - INTEGRATION TESTS"
env = { _TEST_API_ENGINE = "fdb", _TEST_FEATURES = "kv-fdb-7_1" }
run_task = { name = [
    "test-kvs",
    "clear-fdb",
    "test-api-integration",
], fork = true, parallel = false }

[tasks.ci-api-integration-fdb-7_3]
category = "CI - INTEGRATION TESTS"
env = { _TEST_API_ENGINE = "fdb", _TEST_FEATURES = "kv-fdb-7_3" }
run_task = { name = [
    "test-kvs",
    "clear-fdb",
    "test-api-integration",
], fork = true, parallel = false }

[tasks.ci-api-integration-all]
category = "CI - INTEGRATION TESTS"
description = "Run all integration tests"
dependencies = [
    "ci-api-integration-mem",
    "ci-api-integration-file",
    "ci-api-integration-rocksdb",
    "ci-api-integration-surrealkv",
    "ci-api-integration-tikv",
    "ci-api-integration-fdb-7_1",
    "ci-api-integration-fdb-7_3",
    "ci-api-integration-http",
    "ci-api-integration-ws",
]

#
# Services
#
[tasks.start-surrealdb]
category = "CI - SERVICES"
dependencies = ["build-surrealdb"]
script = """
    #!/bin/bash -ex


    target/debug/surreal start ${_START_SURREALDB_PATH} --allow-all &>/tmp/surrealdb-${_TEST_API_ENGINE}.log &

    echo $! > /tmp/surreal-${_TEST_API_ENGINE}.pid

    set +e
    echo "Waiting for surreal to be ready..."
    tries=0
    while [[ $tries < 5 ]]; do
            target/debug/surreal is-ready 2>/dev/null && echo "Ready!" && exit 0 || sleep 1
            tries=$((tries + 1))
    done

    echo "ERROR: Surreal is unhealthy!"
    exit 1
"""

[tasks.stop-surrealdb]
category = "CI - SERVICES"
script = """
    kill $(cat /tmp/surreal-${_TEST_API_ENGINE}.pid) || true
    sleep 5
    kill -9 $(cat /tmp/surreal-${_TEST_API_ENGINE}.pid) || true
"""

[tasks.start-tikv]
category = "CI - SERVICES"
script = """
    #!/bin/bash -ex

	echo "Installing TiKV playground..."
    ${HOME}/.tiup/bin/tiup install pd tikv playground

    echo "Cleaning TiKV playground..."
    ${HOME}/.tiup/bin/tiup clean --all
    killall -q tiup-playground || true
    rm -rf ${HOME}/.tiup/data/testing

	echo "Starting TiKV playground..."
	nohup ${HOME}/.tiup/bin/tiup playground --mode tikv-slim --kv 1 --pd 1 --db 0 --ticdc 0 --tiflash 0 --without-monitor --tag "testing" > /tmp/tiup.log &

    set +e
	tries=0
	echo "Waiting for TiKV playground to start..."
	while [[ $tries -lt 5 ]]; do
		sleep 5
		echo "Displaying playground status..."
		if ! ${HOME}/.tiup/bin/tiup playground display >/dev/null; then
			tries=$((tries + 1));
			continue
		fi
		exit 0;
	done

	echo "PANIC: Couldn't start TiKV playground! Here are the logs for the last attempt:"
    cat /tmp/tiup.log

    exit 1
"""

[tasks.stop-tikv]
category = "CI - SERVICES"
script = """
    #!/bin/bash -ex

    echo "Cleaning TiKV playground..."
    ${HOME}/.tiup/bin/tiup clean --all
    killall -q tiup-playground || true
    rm -rf ${HOME}/.tiup/data/testing

    set +e
	tries=0
	echo "Waiting for TiKV playground to stop..."
	while [[ $tries -lt 5 ]]; do
		sleep 5
		echo "Displaying playground status..."
		if ${HOME}/.tiup/bin/tiup playground display >/dev/null; then
			tries=$((tries + 1));
			continue
		fi
		exit 0;
	done

	echo "PANIC: Couldn't stop TiKV playground! Here are the logs for the last attempt:"
    cat /tmp/tiup.log

    exit 1
"""

[tasks.clear-fdb]
category = "CI - SERVICES"
command = "fdbcli"
args = [
    "-C",
    "/etc/foundationdb/fdb.cluster",
    "--exec",
    "writemode on; clearrange \"\" \\xFF",
    "--timeout",
    "20",
]

#
# Builds
#

[tasks.build-surrealdb]
category = "CI - BUILD"
command = "cargo"
args = [
    "build",
    "--locked",
    "--no-default-features",
    "--features",
    "storage-mem",
]

#
# Benchmarks - Common
#

[tasks.ci-bench]
category = "CI - BENCHMARK"
command = "cargo"
args = [
    "bench",
    "--quiet",
    "--package",
    "surrealdb",
    "--no-default-features",
    "--features",
    "kv-mem,scripting,http,jwks",
    "${@}",
]

#
# Benchmarks - SDB - Per Target
#

[tasks.bench-target]
private = true
category = "CI - BENCHMARK - SurrealDB Target"
command = "cargo"
args = [
    "bench",
    "--package",
    "surrealdb",
    "--bench",
    "sdb",
    "--no-default-features",
    "--features",
    "${BENCH_FEATURES}",
    "${@}",
]

[tasks.bench-lib-mem]
category = "CI - BENCHMARK - SurrealDB Target"
env = { BENCH_DATASTORE_TARGET = "lib-mem" }
run_task = { name = ["bench-target"] }

[tasks.bench-lib-rocksdb]
category = "CI - BENCHMARK - SurrealDB Target"
env = { BENCH_DATASTORE_TARGET = "lib-rocksdb" }
run_task = { name = ["bench-target"] }

[tasks.bench-lib-surrealkv]
category = "CI - BENCHMARK - SurrealDB Target"
env = { BENCH_DATASTORE_TARGET = "lib-surrealkv" }
run_task = { name = ["bench-target"] }

[tasks.bench-sdk-mem]
category = "CI - BENCHMARK - SurrealDB Target"
env = { BENCH_DATASTORE_TARGET = "sdk-mem" }
run_task = { name = ["bench-target"] }

[tasks.bench-sdk-rocksdb]
category = "CI - BENCHMARK - SurrealDB Target"
env = { BENCH_DATASTORE_TARGET = "sdk-rocksdb" }
run_task = { name = ["bench-target"] }

[tasks.bench-sdk-surrealkv]
category = "CI - BENCHMARK - SurrealDB Target"
env = { BENCH_DATASTORE_TARGET = "sdk-surrealkv" }
run_task = { name = ["bench-target"] }

[tasks.bench-sdk-ws]
category = "CI - BENCHMARK - SurrealDB Target"
env = { BENCH_DATASTORE_TARGET = "sdk-ws" }
run_task = { name = ["bench-target"] }
