[env]
RUSTFLAGS = { value = "-D warnings --cfg tokio_unstable", condition = { env_not_set = [
    "RUSTFLAGS",
] } }

# Default
[tasks.default]
category = "LOCAL USAGE"
description = "List all available tasks"
clear = true
command = "cargo"
args = ["make", "--list-all-steps"]

# Docs
[tasks.docs]
category = "LOCAL USAGE"
description = "Generate and open the SurrealDB documentation"
command = "cargo"
args = [
    "doc",
    "--open",
    "--no-deps",
    "--package",
    "surrealdb",
    "--features",
    "rustls,native-tls,protocol-ws,protocol-http,kv-mem,kv-rocksdb,kv-tikv,http,scripting,jwks",
]

# Format
[tasks.format]
category = "LOCAL USAGE"
description = "Format the SurrealDB source code according to the project rules"
toolchain = "${SURREAL_NIGHTLY_RUST_TOOLCHAIN}"
command = "cargo"
args = ["fmt", "--all"]

# Check
[tasks.check]
category = "LOCAL USAGE"
description = "Run the SurrealDB code quality checks"
dependencies = ["ci-format", "ci-check", "ci-clippy"]

# Serve
[tasks.serve]
category = "LOCAL USAGE"
description = "Start the SurrealDB database server in debug mode"
command = "cargo"
args = [
    "run",
    "--profile",
    "make",
    "--no-default-features",
    "--features",
    "${DEV_FEATURES}",
    "--",
    "start",
    "--allow-all",
    "${@}",
]

# SQL
[tasks.sql]
category = "LOCAL USAGE"
description = "Run the SurrealDB SQL shell with pretty printing"
command = "cargo"
env = { SURREAL_LOG = "error" }
args = [
    "run",
    "--profile",
    "make",
    "--no-default-features",
    "--features",
    "${DEV_FEATURES}",
    "--",
    "sql",
    "--pretty",
    "${@}",
]

# REPL
[tasks.repl]
category = "LOCAL USAGE"
description = "Run the SurrealDB SQL REPL with a default namespace and database"
command = "cargo"
env = { SURREAL_LOG = "error" }
args = [
    "run",
    "--profile",
    "make",
    "--no-default-features",
    "--features",
    "${DEV_FEATURES}",
    "--",
    "sql",
    "--pretty",
    "--conn",
    "memory",
    "--ns",
    "test",
    "--db",
    "test",
    "${@}",
]

# Build
[tasks.build]
category = "LOCAL USAGE"
description = "Build the SurrealDB database server in debug mode"
command = "cargo"
args = [
    "build",
    "--profile",
    "make",
    "${@}",
]

# Release
[tasks.release]
category = "LOCAL USAGE"
description = "Build the SurrealDB database server in release mode"
command = "cargo"
args = [
    "build",
    "--release",
    "${@}",
]
