SELECT * FROM parse::email::host("info@surrealdb.com");
SELECT * FROM parse::email::host(12345);
SELECT * FROM parse::email::user("info@surrealdb.com");
SELECT * FROM parse::email::user(12345);
SELECT * FROM parse::url::domain("https://surrealdb.com:80/features?some=option#fragment");
SELECT * FROM parse::url::domain(12345);
SELECT * FROM parse::url::fragment("https://surrealdb.com:80/features?some=option#fragment");
SELECT * FROM parse::url::fragment(12345);
SELECT * FROM parse::url::host("https://surrealdb.com:80/features?some=option#fragment");
SELECT * FROM parse::url::host(12345);
SELECT * FROM parse::url::path("https://surrealdb.com:80/features?some=option#fragment");
SELECT * FROM parse::url::path(12345);
SELECT * FROM parse::url::port("https://surrealdb.com:80/features?some=option#fragment");
SELECT * FROM parse::url::port(12345);
SELECT * FROM parse::url::query("https://surrealdb.com:80/features?some=option#fragment");
SELECT * FROM parse::url::query(12345);
