SELECT * FROM crypto::md5("tobie");
SELECT * FROM crypto::md5(12345);
SELECT * FROM crypto::sha1("tobie");
SELECT * FROM crypto::sha1(12345);
SELECT * FROM crypto::sha256("tobie");
SELECT * FROM crypto::sha256(12345);
SELECT * FROM crypto::sha512("tobie");
SELECT * FROM crypto::sha512(12345);
LET $hash = "$argon2id$v=19$m=4096,t=3,p=1$pbZ6yJ2rPJKk4pyEMVwslQ$jHzpsiB+3S/H+kwFXEcr10vmOiDkBkydVCSMfRxV7CA";
LET $pass = "this is a strong password";
SELECT * FROM crypto::argon2::compare($hash, $pass);
SELECT * FROM crypto::argon2::generate("this is a strong password");
LET $hash = "$2b$12$OD7hrr1Hycyk8NUwOekYY.cogCICpUnwNvDZ9NiC1qCPHzpVAQ9BO";
LET $pass = "this is a strong password";
SELECT * FROM crypto::bcrypt::compare($hash, $pass);
SELECT * FROM crypto::bcrypt::generate("this is a strong password");
LET $hash = "$pbkdf2-sha256$i=10000,l=32$DBURRPJODKEt0IId1Lqe+w$Ve8Z00mibHDSKLbyKTceEBBcDpGoK0AEUl7QzDTIec4";
LET $pass = "this is a strong password";
SELECT * FROM crypto::pbkdf2::compare($hash, $pass);
SELECT * FROM crypto::pbkdf2::generate("this is a strong password");
LET $hash = "$scrypt$ln=15,r=8,p=1$8gl7bipl0FELTy46YJOBrw$eRcS1qR22GI8VHo58WOXn9JyfDivGo5yTJFvpDyivuw";
LET $pass = "this is a strong password";
SELECT * FROM crypto::scrypt::compare($hash, $pass);
LET $hash = "$scrypt$ln=15,r=8,p=1$8gl7bipl0FELTy46YJOBrw$eRcS1qR22GI8VHo58WOXn9JyfDivGo5yTJFvpDyivuw";
LET $pass = "this is a strong password";
SELECT * FROM crypto::scrypt::compare($hash, $pass);