SELECT * FROM is::alphanum("ABC123");
SELECT * FROM is::alphanum(12345);
SELECT * FROM is::alpha("ABCDEF");
SELECT * FROM is::alpha(12345);
SELECT * FROM is::ascii("ABC123");
SELECT * FROM is::ascii(12345);
SELECT * FROM is::datetime("2015-09-05 23:56:04", "%Y-%m-%d %H:%M:%S");
SELECT * FROM is::datetime(12345, 67890);
SELECT * FROM is::domain("surrealdb.com");
SELECT * FROM is::domain(12345);
SELECT * FROM is::email("info@surrealdb.com");
SELECT * FROM is::email(12345);
SELECT * FROM is::hexadecimal("ff009e");
SELECT * FROM is::hexadecimal(12345);
SELECT * FROM is::latitude("-0.118092");
SELECT * FROM is::latitude(12345);
SELECT * FROM is::longitude("51.509865");
SELECT * FROM is::longitude(12345);
SELECT * FROM is::numeric("1484091748");
SELECT * FROM is::numeric(12345);
SELECT * FROM is::semver("1.0.0");
SELECT * FROM is::semver(12345);
SELECT * FROM is::url("https://surrealdb.com");
SELECT * FROM is::url(12345);
SELECT * FROM is::uuid("ad55cae8-cf02-47ee-92a7-e137fb644a84");
SELECT * FROM is::uuid(12345);