SELECT * FROM time::day("2021-11-01T08:30:17+00:00");
SELECT * FROM time::day(12345);
SELECT * FROM time::floor("2021-11-01T08:30:17+00:00", 1w);
SELECT * FROM time::floor(12345, 1w);
SELECT * FROM time::format("2021-11-01T08:30:17+00:00", "%Y-%m-%d");
SELECT * FROM time::format(12345, "%Y-%m-%d");
SELECT * FROM time::group("2021-11-01T08:30:17+00:00", "year");
SELECT * FROM time::group(12345, "week");
SELECT * FROM time::hour("2021-11-01T08:30:17+00:00");
SELECT * FROM time::hour(12345);
SELECT * FROM time::minute("2021-11-01T08:30:17+00:00");
SELECT * FROM time::minute(12345);
SELECT * FROM time::minute(12345);
SELECT * FROM time::month(12345);
SELECT * FROM time::month(12345);
SELECT * FROM time::nano(12345);
SELECT * FROM time::now();
SELECT * FROM time::round("2021-11-01T08:30:17+00:00", 1w);
SELECT * FROM time::round(12345, 1w);
SELECT * FROM time::second("2021-11-01T08:30:17+00:00");
SELECT * FROM time::second(12345);
SELECT * FROM time::timezone();
SELECT * FROM time::unix("2021-11-01T08:30:17+00:00");
SELECT * FROM time::unix(12345);
SELECT * FROM time::wday("2021-11-01T08:30:17+00:00");
SELECT * FROM time::wday(12345);
SELECT * FROM time::week("2021-11-01T08:30:17+00:00");
SELECT * FROM time::week(12345);
SELECT * FROM time::yday("2021-11-01T08:30:17+00:00");
SELECT * FROM time::yday(12345);
SELECT * FROM time::year("2021-11-01T08:30:17+00:00");
SELECT * FROM time::year(12345);