SELECT * FROM math::abs(13.746189);
SELECT * FROM math::abs("13.746189");
SELECT * FROM math::ceil(13.146572);
SELECT * FROM math::ceil("13.146572");
SELECT * FROM math::fixed(13.146572, 2);
SELECT * FROM math::fixed("13.146572", 2);
SELECT * FROM math::floor(13.746189);
SELECT * FROM math::floor("13.746189");
SELECT * FROM math::max([26.164, 13.746189, 23, 16.4, 41.42]);
SELECT * FROM math::max(["26.164", 13.746189, '23', 16.4, "41.42"]);
SELECT * FROM math::max("some invalid argument");
SELECT * FROM math::mean([26.164, 13.746189, 23, 16.4, 41.42]);
SELECT * FROM math::mean(["26.164", 13.746189, '23', 16.4, "41.42"]);
SELECT * FROM math::mean("some invalid argument");
SELECT * FROM math::median([26.164, 13.746189, 23, 16.4, 41.42]);
SELECT * FROM math::median(["26.164", 13.746189, '23', 16.4, "41.42"]);
SELECT * FROM math::median("some invalid argument");
SELECT * FROM math::min([26.164, 13.746189, 23, 16.4, 41.42]);
SELECT * FROM math::min(["26.164", 13.746189, '23', 16.4, "41.42"]);
SELECT * FROM math::min("some invalid argument");
SELECT * FROM math::product([26.164, 13.746189, 23, 16.4, 41.42]);
SELECT * FROM math::product(["26.164", 13.746189, '23', 16.4, "41.42"]);
SELECT * FROM math::product("some invalid argument");
SELECT * FROM math::round(13.53124);
SELECT * FROM math::round("13.53124");
SELECT * FROM math::sqrt(15);
SELECT * FROM math::sqrt("15");
SELECT * FROM math::sum([26.164, 13.746189, 23, 16.4, 41.42]);
SELECT * FROM math::sum(["26.164", 13.746189, '23', 16.4, "41.42"]);
SELECT * FROM math::sum("some invalid argument");
