SELECT * FROM string::concat('this', ' ', 'is', ' ', 'a', ' ', 'test');
SELECT * FROM string::concat(1, 2, 3, 4, 5);
SELECT * FROM string::endsWith('some test', 'test');
SELECT * FROM string::endsWith(12345, '345');
SELECT * FROM string::join(', ', 'a', 'list', 'of', 'items');
SELECT * FROM string::join(', ', 1, 2, 3, 4, 5);
SELECT * FROM string::len('this is a test');
SELECT * FROM string::len(12345);
SELECT * FROM string::lowercase('THIS IS A TEST');
SELECT * FROM string::lowercase(12345);
SELECT * FROM string::repeat('test', 3);
SELECT * FROM string::repeat(123, 3);
SELECT * FROM string::replace('this is a test', 'a test', 'awesome');
SELECT * FROM string::replace(12345, '12', '54');
SELECT * FROM string::reverse('this is a test');
SELECT * FROM string::reverse(12345);
SELECT * FROM string::slice('this is a test', 10, 4);
SELECT * FROM string::slice(12345.00, 0, 5);
SELECT * FROM string::slug('SurrealDB has launched #database #awesome');
SELECT * FROM string::slug(12345.00);
SELECT * FROM string::split('this, is, a, list', ', ');
SELECT * FROM string::split(12345.00, '.');
SELECT * FROM string::startsWith('some test', 'some');
SELECT * FROM string::startsWith(12345, '123');
SELECT * FROM string::trim('    this is a test    ');
SELECT * FROM string::trim(12345);
SELECT * FROM string::uppercase('this is a test');
SELECT * FROM string::uppercase(12345);
SELECT * FROM string::words('this is a test');
SELECT * FROM string::words(12345);
