[build]
rustflags = ["--cfg", "tokio_unstable"]

[target.aarch64-unknown-linux-gnu]
linker = "aarch64-linux-gnu-gcc"

[target.x86_64-unknown-linux-musl]
rustflags = [
	"-C", "target-feature=+crt-static"
]

[target.x86_64-pc-windows-msvc]
rustflags = [
	"-C", "target-feature=+crt-static",
	"-C", "link-arg=/NODEFAULTLIB:libvcruntimed.lib",
	"-C", "link-arg=/NODEFAULTLIB:vcruntime.lib",
	"-C", "link-arg=/NODEFAULTLIB:vcruntimed.lib",
	"-C", "link-arg=/NODEFAULTLIB:libcmtd.lib",
	"-C", "link-arg=/NODEFAULTLIB:msvcrt.lib",
	"-C", "link-arg=/NODEFAULTLIB:msvcrtd.lib",
	"-C", "link-arg=/NODEFAULTLIB:libucrt.lib",
	"-C", "link-arg=/NODEFAULTLIB:libucrtd.lib",
	"-C", "link-arg=/NODEFAULTLIB:ucrtd.lib",
	"-C", "link-arg=/DEFAULTLIB:libvcruntime.lib",
	"-C", "link-arg=/DEFAULTLIB:libcmt.lib",
	"-C", "link-arg=/DEFAULTLIB:ucrt.lib"
]
