on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
        description: "The name of output"
      build-metadata:
        required: false
        type: string
        description: "Build metadata"
      release-branch:
        required: false
        type: string
        description: "Release branch"
      rust-version:
        required: false
        type: string
        default: "1.87.0"
        description: "The Rust version to use for building binaries"
      onnx-version:
        required: false
        type: string
        default: "1.16.3"
        description: "The ONNX library version"
      extra-features:
        required: false
        type: string
        default: storage-tikv,http-compression,jwks,ml
        description: "Extra features enabled in the binary"
      upload:
        required: false
        type: boolean
        default: true
        description: "Upload build artifacts"
      release:
        required: false
        type: boolean
        default: true
        description: "Compile with release flag"
    secrets:
      AWS_CI_ACCESS_KEY_ID:
        description: "AWS access key ID"
      AWS_CI_SECRET_ACCESS_KEY:
        description: "AWS secret access key"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  build-linux:
    name: Build ${{ matrix.arch }} binary
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux amd64
          - arch: x86_64-unknown-linux-gnu
            platform: amd64
            runner: [ runner-amd64-2xlarge ]
            file: surreal-${{ inputs.name }}.linux-amd64
            build-step: |
              set -x

              tag=$(echo ${{ github.ref_name }} | sed -e 's/[^a-zA-Z0-9]/-/g')
              folder="/tmp/surrealdb-builder/${tag}"

              # Build
              extra_args=""
              compile_profile="debug"
              if [[ "${{ inputs.name }}" == "ci" && "${{ inputs.upload }}" == "false" ]]; then
                extra_args="${extra_args} --features ${{ inputs.extra-features }}"
              else
                extra_args="${extra_args} --features default"
                if [[ ! -z "${{ inputs.extra-features }}" ]]; then
                  extra_args="${extra_args} --features ${{ inputs.extra-features }}"
                fi
              fi
              if [[ "${{ inputs.release }}" == "true" ]]; then
                extra_args="${extra_args} --release"
                compile_profile="release"
              fi

              # Download libonnxruntime's static library and tell ORT crate to use it
              tmpdir=$(mktemp -d)
              curl -sSL https://github.com/surrealdb/onnxruntime-build/releases/download/v${{ inputs.onnx-version }}/onnxruntime-linux-x64-static_lib-${{ inputs.onnx-version }}.tgz | \
                tar -xz -C $tmpdir
              export ORT_STRATEGY=system ORT_LIB_LOCATION=$tmpdir/lib

              docker load -i ${folder}/surrealdb-builder-${tag}-amd64

              docker run \
                --rm -t \
                -v $(pwd):/surrealdb \
                -e SURREAL_BUILD_METADATA=$SURREAL_BUILD_METADATA \
                -e RUSTFLAGS="${RUSTFLAGS}" \
                -e ORT_STRATEGY=$ORT_STRATEGY \
                -e ORT_LIB_LOCATION=$ORT_LIB_LOCATION \
                -v $ORT_LIB_LOCATION:$ORT_LIB_LOCATION \
                surrealdb-builder:${tag}-amd64 \
                  --target x86_64-unknown-linux-gnu --no-default-features ${extra_args} --locked

              # Package
              cp target/x86_64-unknown-linux-gnu/${compile_profile}/surreal surreal
              tar -zcvf surreal-${{ inputs.name }}.linux-amd64.tgz surreal
              echo $(shasum -a 256 surreal-${{ inputs.name }}.linux-amd64.tgz | cut -f1 -d' ') > surreal-${{ inputs.name }}.linux-amd64.txt

              # Verify the binary is compatible with various Linux distributions
              docker run --platform linux/amd64 --rm -t -v ./target/x86_64-unknown-linux-gnu/${compile_profile}/surreal:/surreal ubuntu:24.04 /surreal version
              docker run --platform linux/amd64 --rm -t -v ./target/x86_64-unknown-linux-gnu/${compile_profile}/surreal:/surreal rockylinux/rockylinux:10 /surreal version
              docker run --platform linux/amd64 --rm -t -v ./target/x86_64-unknown-linux-gnu/${compile_profile}/surreal:/surreal debian:12 /surreal version

          # Linux arm64
          - arch: aarch64-unknown-linux-gnu
            platform: arm64
            runner: [ runner-arm64-2xlarge ]
            file: surreal-${{ inputs.name }}.linux-arm64
            build-step: |
              set -x

              tag=$(echo ${{ github.ref_name }} | sed -e 's/[^a-zA-Z0-9]/-/g')
              folder="/tmp/surrealdb-builder/${tag}"

              # Build
              extra_args=""
              compile_profile="debug"
              if [[ "${{ inputs.name }}" == "ci" && "${{ inputs.upload }}" == "false" ]]; then
                extra_args="${extra_args} --features ${{ inputs.extra-features }}"
              else
                extra_args="${extra_args} --features default"
                if [[ ! -z "${{ inputs.extra-features }}" ]]; then
                  extra_args="${extra_args} --features ${{ inputs.extra-features }}"
                fi
              fi
              if [[ "${{ inputs.release }}" == "true" ]]; then
                extra_args="${extra_args} --release"
                compile_profile="release"
              fi

              # Download libonnxruntime's static library and tell ORT crate to use it
              tmpdir=$(mktemp -d)
              curl -sSL https://github.com/surrealdb/onnxruntime-build/releases/download/v${{ inputs.onnx-version }}/onnxruntime-linux-aarch64-static_lib-${{ inputs.onnx-version }}.tgz | \
                tar -xz -C $tmpdir
              export ORT_STRATEGY=system ORT_LIB_LOCATION=$tmpdir/lib

              docker load -i ${folder}/surrealdb-builder-${tag}-arm64

              docker run \
                --rm -t \
                -v $(pwd):/surrealdb \
                -e SURREAL_BUILD_METADATA=$SURREAL_BUILD_METADATA \
                -e RUSTFLAGS="${RUSTFLAGS}" \
                -e ORT_STRATEGY=$ORT_STRATEGY \
                -e ORT_LIB_LOCATION=$ORT_LIB_LOCATION \
                -v $ORT_LIB_LOCATION:$ORT_LIB_LOCATION \
                surrealdb-builder:${tag}-arm64 \
                  --target aarch64-unknown-linux-gnu --no-default-features ${extra_args} --locked

              # Package
              cp target/aarch64-unknown-linux-gnu/${compile_profile}/surreal surreal
              tar -zcvf surreal-${{ inputs.name }}.linux-arm64.tgz surreal
              echo $(shasum -a 256 surreal-${{ inputs.name }}.linux-arm64.tgz | cut -f1 -d' ') > surreal-${{ inputs.name }}.linux-arm64.txt

              # Verify the binary is compatible with various Linux distributions
              docker run --platform linux/arm64 --rm -t -v ./target/aarch64-unknown-linux-gnu/${compile_profile}/surreal:/surreal ubuntu:24.04 /surreal version
              docker run --platform linux/arm64 --rm -t -v ./target/aarch64-unknown-linux-gnu/${compile_profile}/surreal:/surreal rockylinux/rockylinux:10 /surreal version
              docker run --platform linux/arm64 --rm -t -v ./target/aarch64-unknown-linux-gnu/${compile_profile}/surreal:/surreal debian:12 /surreal version

    runs-on: ${{ matrix.runner }}
    steps:
      - name: Prepare docker image name
        id: image
        run: |
          set -x

          tag=$(echo ${{ github.ref_name }} | sed -e 's/[^a-zA-Z0-9]/-/g')
          echo "tag=${tag}" >> $GITHUB_OUTPUT

          echo "folder=/tmp/surrealdb-builder/${tag}" >> $GITHUB_OUTPUT

      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          ref: ${{ inputs.release-branch }}

      - name: Set up Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # (Actions must be pinned by commit hash) v3.10.0

      - name: Setup artifact directory
        run: mkdir -p ${{ steps.image.outputs.folder }}

      - name: Restore cache artifact (if exists)
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # (Actions must be pinned by commit hash) v4.3.0
        continue-on-error: true
        with:
          name: surrealdb-builder-${{ steps.image.outputs.tag }}-${{ matrix.platform }}
          path: ${{ steps.image.outputs.folder }}

      - name: Build & Push builder image
        uses: docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25 # (Actions must be pinned by commit hash) v5.4.0
        id: build
        with:
          context: .
          platforms: linux/${{ matrix.platform }}
          file: ./docker/Dockerfile
          target: builder
          cache-from: type=local,src=${{ steps.image.outputs.folder }}
          cache-to: type=local,dest=${{ steps.image.outputs.folder }}
          push: false
          outputs: type=docker,dest=${{ steps.image.outputs.folder }}/surrealdb-builder-${{ steps.image.outputs.tag }}-${{ matrix.platform }}
          tags: surrealdb-builder:${{ steps.image.outputs.tag }}-${{ matrix.platform }}
          build-args: |
            RUST_VERSION=${{ inputs.rust-version }}

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # (Actions must be pinned by commit hash) master
        with:
          toolchain: ${{ inputs.rust-version }}
          targets: ${{ matrix.arch }}

      - name: Output package versions
        run: |
          set -x
          set +e
          go version ; cargo version ; rustc --version ; cmake --version ; gcc --version ; g++ --version ; perl -v

      - name: Build step
        env:
          SURREAL_BUILD_METADATA: ${{ inputs.build-metadata }}
        run: ${{ matrix.build-step }}

      - name: Upload artifacts
        if: ${{ inputs.upload }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # (Actions must be pinned by commit hash) v4.6.2
        with:
          name: ${{ matrix.file }}
          path: |
            surreal
            ${{ matrix.file }}.tgz
            ${{ matrix.file }}.txt
            ${{ matrix.file }}.exe

  build:
    name: Build ${{ matrix.arch }} binary
    strategy:
      fail-fast: false
      matrix:
        include:
          # MacOS amd64
          - arch: x86_64-apple-darwin
            runner: macos-15
            file: surreal-${{ inputs.name }}.darwin-amd64
            build-step: |
              set -x

              # Prepare deps
              brew install protobuf

              # Build
              extra_args=""
              compile_profile="debug"
              if [[ "${{ inputs.name }}" == "ci" && "${{ inputs.upload }}" == "false" ]]; then
                extra_args="${extra_args} --features ${{ inputs.extra-features }}"
              else
                extra_args="${extra_args} --features default"
                if [[ ! -z "${{ inputs.extra-features }}" ]]; then
                  extra_args="${extra_args} --features ${{ inputs.extra-features }}"
                fi
              fi
              if [[ "${{ inputs.release }}" == "true" ]]; then
                extra_args="${extra_args} --release"
                compile_profile="release"
              fi

              # Download libonnxruntime's static library and tell ORT crate to use it
              mkdir /tmp/onnxruntime
              curl -sSL https://github.com/surrealdb/onnxruntime-build/releases/download/v${{ inputs.onnx-version }}/onnxruntime-osx-x86_64-static_lib-${{ inputs.onnx-version }}.tgz | \
                tar -xz -C /tmp/onnxruntime/
              export ORT_STRATEGY=system ORT_LIB_LOCATION=/tmp/onnxruntime/lib

              # Install the target (mac-os seems to need this for some reason)
              rustup target add x86_64-apple-darwin

              cargo build --no-default-features ${extra_args} --locked --target x86_64-apple-darwin

              # Package
              cp target/x86_64-apple-darwin/${compile_profile}/surreal surreal
              ./surreal version
              tar -zcvf surreal-${{ inputs.name }}.darwin-amd64.tgz surreal
              echo $(shasum -a 256 surreal-${{ inputs.name }}.darwin-amd64.tgz | cut -f1 -d' ') > surreal-${{ inputs.name }}.darwin-amd64.txt

          # MacOS arm64
          - arch: aarch64-apple-darwin
            runner: macos-15
            file: surreal-${{ inputs.name }}.darwin-arm64
            build-step: |
              set -x

              # Prepare deps
              brew install protobuf

              # Build
              extra_args=""
              compile_profile="debug"
              if [[ "${{ inputs.name }}" == "ci" && "${{ inputs.upload }}" == "false" ]]; then
                extra_args="${extra_args} --features ${{ inputs.extra-features }}"
              else
                extra_args="${extra_args} --features default"
                if [[ ! -z "${{ inputs.extra-features }}" ]]; then
                  extra_args="${extra_args} --features ${{ inputs.extra-features }}"
                fi
              fi
              if [[ "${{ inputs.release }}" == "true" ]]; then
                extra_args="${extra_args} --release"
                compile_profile="release"
              fi

              # Download libonnxruntime's static library and tell ORT crate to use it
              mkdir /tmp/onnxruntime
              curl -sSL https://github.com/surrealdb/onnxruntime-build/releases/download/v${{ inputs.onnx-version }}/onnxruntime-osx-arm64-static_lib-${{ inputs.onnx-version }}.tgz | \
                tar -xz -C /tmp/onnxruntime/
              export ORT_STRATEGY=system ORT_LIB_LOCATION=/tmp/onnxruntime/lib

              cargo build --no-default-features ${extra_args} --locked --target aarch64-apple-darwin

              # Package
              cp target/aarch64-apple-darwin/${compile_profile}/surreal surreal
              ./surreal version
              tar -zcvf surreal-${{ inputs.name }}.darwin-arm64.tgz surreal
              echo $(shasum -a 256 surreal-${{ inputs.name }}.darwin-arm64.tgz | cut -f1 -d' ') > surreal-${{ inputs.name }}.darwin-arm64.txt

          # Windows amd64
          - arch: x86_64-pc-windows-msvc
            runner: windows-2025
            file: surreal-${{ inputs.name }}.windows-amd64
            build-step: |
              set -x

              # Prepare deps
              vcpkg integrate install

              # Build
              extra_args=""
              compile_profile="debug"
              if [[ "${{ inputs.name }}" == "ci" && "${{ inputs.upload }}" == "false" ]]; then
                extra_args="${extra_args} --features ${{ inputs.extra-features }}"
              else
                extra_args="${extra_args} --features default"
                if [[ ! -z "${{ inputs.extra-features }}" ]]; then
                  extra_args="${extra_args} --features ${{ inputs.extra-features }}"
                fi
              fi
              if [[ "${{ inputs.release }}" == "true" ]]; then
                extra_args="${extra_args} --release"
                compile_profile="release"
              fi

              # Download libonnxruntime's static library and tell ORT crate to use it
              tmp_dir=$(mktemp -d)
              curl -sSL https://github.com/surrealdb/onnxruntime-build/releases/download/v${{ inputs.onnx-version }}/onnxruntime-win-x64-static_lib-${{ inputs.onnx-version }}.zip -o $tmp_dir/onnxruntime.zip
              unzip -d $tmp_dir $tmp_dir/onnxruntime.zip
              export ORT_STRATEGY=system ORT_LIB_LOCATION=$tmp_dir/lib

              cargo build --no-default-features ${extra_args} --locked --target x86_64-pc-windows-msvc

              # Package
              ./target/x86_64-pc-windows-msvc/${compile_profile}/surreal.exe version
              cp target/x86_64-pc-windows-msvc/${compile_profile}/surreal.exe surreal-${{ inputs.name }}.windows-amd64.exe
              echo $(certutil -hashfile surreal-${{ inputs.name }}.windows-amd64.exe SHA256 | sed -n '2p') > surreal-${{ inputs.name }}.windows-amd64.txt

    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          ref: ${{ inputs.release-branch }}

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # (Actions must be pinned by commit hash) master
        with:
          toolchain: ${{ inputs.rust-version }}
          targets: ${{ matrix.arch }}

      - name: Output package versions
        run: |
          set -x
          set +e
          go version ; cargo version ; rustc --version ; cmake --version ; gcc --version ; g++ --version ; perl -v

      - name: Build step
        env:
          SURREAL_BUILD_METADATA: ${{ inputs.build-metadata }}
        run: ${{ matrix.build-step }}

      - name: Upload artifacts
        if: ${{ inputs.upload }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # (Actions must be pinned by commit hash) v4.6.2
        with:
          name: ${{ matrix.file }}
          path: |
            surreal
            ${{ matrix.file }}.tgz
            ${{ matrix.file }}.txt
            ${{ matrix.file }}.exe
