name: Fuzzing

run-name: "Fuzzing run '${{ github.head_ref || github.ref_name }}'"

on:
  schedule:
    # Run daily at 2:00 AM UTC
    - cron: '0 2 * * *'
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  check-fuzzing:
    name: Check fuzzing
    runs-on: ubuntu-latest
    steps:
      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # (Actions must be pinned by commit hash) v4.2.2

      - name: Setup cache
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # (Actions must be pinned by commit hash) v2.7.8
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}
          workspaces: crates/fuzz

      - name: Check fuzzers
        run: cargo build --manifest-path crates/fuzz/Cargo.toml

      - name: Check OSS-Fuzz
        uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@cafd7a0eb8ecb4e007c56897996a9b65c49c972f # (Actions must be pinned by commit hash) master
        with:
          oss-fuzz-project-name: surrealdb
          language: rust
        # Temporarily allow this step to fail
        continue-on-error: true
