name: Fuzzing

run-name: "Fuzzing run '${{ github.head_ref || github.ref_name }}'"

on:
  schedule:
    # Run daily at 2:00 AM UTC
    - cron: '0 2 * * *'
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  check-fuzzing:
    name: Check fuzzing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # (Actions must be pinned by commit hash) v6.0.2

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Setup cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # (Actions must be pinned by commit hash) v2.8.2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}
          workspaces: fuzz

      - name: Check fuzzers
        run: cargo build --manifest-path fuzz/Cargo.toml

      - name: Check OSS-Fuzz
        uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@cafd7a0eb8ecb4e007c56897996a9b65c49c972f # (Actions must be pinned by commit hash) master
        with:
          oss-fuzz-project-name: surrealdb
          language: rust
        # Temporarily allow this step to fail
        continue-on-error: true
