# This workflow triggers nightly releases

name: Nightly release

run-name: "Nightly release (publish: ${{ inputs.publish || github.event_name == 'schedule' }})"

on:
  workflow_dispatch:
    inputs:
      publish:
        required: false
        type: boolean
        default: false
        description: "Publish the nightly release"
  schedule:
    - cron: "0 0 * * *"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write
    name: Prepare nightly release
    uses: ./.github/workflows/publish-version.yml
    with:
      release-type: nightly
      git-ref: main
      extra-features: storage-tikv,http-compression,jwks,ml
      publish: ${{ inputs.publish || github.event_name == 'schedule' }}
    secrets: inherit
