# This workflow triggers nightly releases

name: Nightly release

run-name: "Nightly release '${{ inputs.git-ref || github.ref_name }}' (publish: ${{ inputs.publish || github.event_name == 'schedule' }})"

on:
  workflow_dispatch:
    inputs:
      git-ref:
        required: true
        type: string
        description: "The github ref of this nightly version (i.e. main, 1234567)"
        default: 1.x
      publish:
        required: false
        type: boolean
        default: false
        description: "Publish the nightly release"
  schedule:
    - cron: '0 0 * * *'

defaults:
  run:
    shell: bash

permissions:
  contents: write

jobs:
  release:
    name: Prepare nightly release
    uses: ./.github/workflows/reusable_publish_version.yml
    with:
      environment: nightly
      extra-features: storage-surrealkv
      git-ref: ${{ inputs.git-ref || github.ref_name }}
      publish: ${{ inputs.publish || github.event_name == 'schedule' }}
    secrets: inherit
