# Use this workflow to trigger stable releases, both minor releases and patches

name: Release

run-name: "Release '${{ inputs.branch }}' (publish: ${{ inputs.publish }}, latest: ${{ inputs.latest }})"

on:
  workflow_dispatch:
    inputs:
      branch:
        required: true
        type: string
        description: "The github branch of this release"
        default: main
      suffix:
        required: true
        type: string
        default: nightly
        description: "The suffix of the version, e.g. none, nightly, alpha.1 or beta.1"
      latest:
        required: false
        type: boolean
        default: false
        description: "Make this the latest release"
      extra-features:
        required: false
        type: string
        default: "ml"
        description: "Extra features enabled in the binary"
      publish:
        required: false
        type: boolean
        default: false
        description: "Publish the release"

defaults:
  run:
    shell: bash

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    name: Prepare release
    uses: ./.github/workflows/publish-version.yml
    with:
      git-ref: ${{ inputs.branch }}
      latest: ${{ inputs.latest }}
      suffix: ${{ inputs.suffix }}
      publish: ${{ inputs.publish }}
      extra-features: ${{ inputs.extra-features }}
      create-release: ${{ inputs.publish }}
    secrets: inherit
