# Use this workflow to trigger stable releases, both minor releases and patches

name: Release

run-name: "Release '${{ inputs.git-ref }}' (publish: ${{ inputs.publish }}, latest: ${{ inputs.latest }})"

on:
  workflow_dispatch:
    inputs:
      git-ref:
        required: true
        type: string
        default: releases/2.x
        description: "The git ref of this release"
      latest:
        required: false
        type: boolean
        default: false
        description: "Make this the latest release"
      extra-features:
        required: false
        type: string
        default: storage-tikv,http-compression,jwks,ml
        description: "Extra features enabled in the binary"
      publish:
        required: false
        type: boolean
        default: false
        description: "Publish the release"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  release:
    name: Prepare release
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/publish-version.yml
    with:
      git-ref: ${{ inputs.git-ref }}
      latest: ${{ inputs.latest }}
      release-type: release
      publish: ${{ inputs.publish }}
      extra-features: ${{ inputs.extra-features }}
      create-release: ${{ inputs.publish }}
    secrets: inherit
