name: Test

on:
  workflow_call:
    inputs:
      git-ref:
        description: 'Git ref to checkout (defaults to current ref)'
        required: false
        type: string
      save-cache:
        description: 'Whether to save the cargo cache'
        required: false
        type: boolean
        default: false

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Test workspace
    runs-on: [ runner-amd64-2xlarge ]
    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.git-ref || github.ref }}

      - name: Setup environment
        uses: ./.github/actions/setup-environment
        with:
          save-cache: ${{ inputs.save-cache }}

      - name: Install tools
        uses: ./.github/actions/install-tools
        with:
          preset: test

      - name: Test workspace
        run: cargo make ci-workspace-test
